<h3>Hello, <$users.0.firstname@uc></h3>
<p> these is your family :</p>
<table border="2">
    <tr style="background-color: red">
    <td>ID</td>
    <td>Firstname</td>
    <td>Family</td>
    <td>Age</td>
    </tr>
    <loop $users>
        <tr>
            <td><$users.id@pl 4></td>
            <td><$users.firstname></td>
            <td><$users.lastname></td>
            <td><$users.age@b,pl 7 '0'></td>
        </tr>
    </loop>
</table>